name: Benchmark
on:
  pull_request:
    branches:
      - main
      - v*
  push:
    branches:
      - main
      - v*
      - parser

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  RUST_FLAGS: "-Awarnings"

jobs:
  benchmark:
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: cargo

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: bench
          cache-all-crates: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install cargo-codspeed
        uses: cargo-bins/cargo-binstall@v1.16.4

      - run: cargo binstall -y --force cargo-codspeed@4

      - name: Build the benchmark target(s)
        run: cargo codspeed build

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}
