name: Check and Lint

on:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read
  checks: write

env:
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: jdx/mise-action@v3

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Dependencies
        run: uv pip install --system -r ./scripts/requirements.txt

      - uses: j178/prek-action@v1

  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: cargo

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: check
          cache-all-crates: true
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Cargo Check
        run: |
          cargo check --all-features

  fmt:
    name: Cargo Fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: fmt
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - run: rustup component add rustfmt
      - name: Cargo Check Fmt
        run: |
          cargo +nightly fmt --all -- --check

  clippy:
    name: Cargo Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: clippy
          cache-all-crates: true
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Cargo Clippy
        run: |
          cargo clippy --all-features
